<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
		<link rel="stylesheet" href="style.css" />
        <title>Editor - OpenMusicCreator</title>
    </head>
 
    <body>
		<div id="instru1" class="divInstru">
			<h1 class="titreInstru">Instru 1</h1>
			<div class="lineP">
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
			</div>
			<div class="lineI">
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
			</div>
			<div class="lineP">
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
			</div>
			<div class="lineI">
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
			</div>
			<div class="lineP">
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
			</div>
			<div class="lineI">
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
			</div>
		</div>
		<div id="instru2" class="divInstru">
			<h1 class="titreInstru">Instru 2</h1>
			<div class="lineP">
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
			</div>
			<div class="lineI">
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
			</div>
			<div class="lineP">
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
			</div>
			<div class="lineI">
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
			</div>
			<div class="lineP">
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
			</div>
			<div class="lineI">
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
			</div>
		</div>
		<div id="instru3" class="divInstru">
			<h1 class="titreInstru">Instru 3</h1>
			<div class="lineP">
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
			</div>
			<div class="lineI">
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
			</div>
			<div class="lineP">
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
			</div>
			<div class="lineI">
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
			</div>
			<div class="lineP">
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
			</div>
			<div class="lineI">
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
				<img src="touche.png" class="touche" />
			</div>
		</div>
    </body>
</html>