<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
		<link rel="stylesheet" href="style.css" />
		<style>
		body {
			background-color:  #212f3d;
		}
	</style>
        <title>Editor - OpenMusicCreator</title>
    </head>
 
    <body>
		<div id="instru1">
			<h1 class="titreInstru">Instru 1</h1>
			<img src="touche.png" class="touche" />
			<img src="touche.png" class="touche" />
			<img src="touche.png" class="touche" />
			<img src="touche.png" class="touche" />
		</div>
		<div id="instru2">
			<h1 class="titreInstru">Instru 2</h1>
			<img src="img/touche.png" class="touche" />
			<img src="img/touche.png" class="touche" />
			<img src="img/touche.png" class="touche" />
			<img src="img/touche.png" class="touche" />
		</div>
		<div id="instru3">
			<h1 class="titreInstru">Instru 3</h1>
			<img src="img/touche.png" class="touche" />
			<img src="img/touche.png" class="touche" />
			<img src="img/touche.png" class="touche" />
			<img src="img/touche.png" class="touche" />
		</div>
    </body>
</html>