<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
		<link rel="stylesheet" href="style.css" />
        <title>Editor - OpenMusicCreator</title>
    </head>
 
    <body>
		<div id="instru1" class="divInstru">
			<h1 class="titreInstru">Instru 1</h1>
			<div class="lineP">
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
			</div>
			<div class="lineI">
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
			</div>
			<div class="lineP">
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
			</div>
			<div class="lineI">
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
			</div>
			<div class="lineP">
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
			</div>
			<div class="lineI">
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
			</div>
		</div>
		<div id="instru2" class="divInstru">
			<h1 class="titreInstru">Instru 2</h1>
			<div class="lineP">
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
			</div>
			<div class="lineI">
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="E3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
			</div>
			<div class="lineP">
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="G3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
			</div>
			<div class="lineI">
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="A4" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
			</div>
			<div class="lineP">
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C4" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
			</div>
			<div class="lineI">
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="E4" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
			</div>
		</div>
		<div id="instru3" class="divInstru">
			<h1 class="titreInstru">Instru 3</h1>
			<div class="lineP">
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
			</div>
			<div class="lineI">
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
			</div>
			<div class="lineP">
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
			</div>
			<div class="lineI">
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
			</div>
			<div class="lineP">
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
			</div>
			<div class="lineI">
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
				<img src="touche.png" class="touche" tone="C3" />
			</div>
		</div>
		
		<script src="wad.js"></script>
		<script>
			var mouseDown = 0;
			document.body.onmousedown = function() { 
			  ++mouseDown;
			}
			document.body.onmouseup = function() {
			  --mouseDown;
			}
		
			var el = document.querySelectorAll('img');
			for (var i = 0 ; i < el.length ; i++) {
				el[i].addEventListener('mousedown', function(e){
					e.preventDefault();
				}, false);
				el[i].addEventListener('mousemove', function(e){
					e.preventDefault();
				}, false);
			}
			var instru = document.querySelectorAll('.touche');
			for(var i = 0 ; i < instru.length ; i++) {
				instru[i].addEventListener('mouseover', function(e) {
					var value = '10';
					if(e.currentTarget.parentNode.parentNode.getAttribute('id') == 'instru2') value = '40';
					else if(e.currentTarget.parentNode.parentNode.getAttribute('id') == 'instru3') value = '80';
					e.currentTarget.setAttribute('style', 'filter: sepia() saturate(1000%) hue-rotate('+value+'deg)');
					if(mouseDown) {
						e.currentTarget.setAttribute('style', 'filter: sepia() saturate(20%) hue-rotate('+value+'deg)');
						
						var bell = new Wad({source : 'test.mp3'});
						bell.play({
							pitch: e.currentTarget.getAttribute('tone'),
						});
					}
				});
				instru[i].addEventListener('mousedown', function(e) {
					var value = '10';
					if(e.currentTarget.parentNode.parentNode.getAttribute('id') == 'instru2') value = '40';
					else if(e.currentTarget.parentNode.parentNode.getAttribute('id') == 'instru3') value = '80';
					e.currentTarget.setAttribute('style', 'filter: sepia() saturate(20%) hue-rotate('+value+'deg)');
					
					var bell = new Wad({source : 'test.mp3'});
					bell.play({
						pitch: e.currentTarget.getAttribute('tone'),
					});
				});
				instru[i].addEventListener('mouseup', function(e) {
					var value = '10';
					if(e.currentTarget.parentNode.parentNode.getAttribute('id') == 'instru2') value = '40';
					else if(e.currentTarget.parentNode.parentNode.getAttribute('id') == 'instru3') value = '80';
					e.currentTarget.setAttribute('style', 'filter: sepia() saturate(1000%) hue-rotate('+value+'deg)');
				});
				instru[i].addEventListener('mouseout', function(e) {
					var value = '10';
					if(e.currentTarget.parentNode.parentNode.getAttribute('id') == 'instru2') value = '40';
					else if(e.currentTarget.parentNode.parentNode.getAttribute('id') == 'instru3') value = '80';
					e.currentTarget.setAttribute('style', 'filter: sepia() saturate(100000%) hue-rotate('+value+'deg)');
				});
			}
			
			
		</script>
    </body>
</html>