<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
		<link rel="stylesheet" href="login.css" />
        <title>Login - OpenMusicCreator</title>
    </head>
    <body>

    	<!-- Background -->
    	<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
		<div id='stars'></div>
		<div id='stars2'></div>
		<div id='stars3'></div>




		<h1>Open Music Creator</h1>

		<div id="log"><button id="btn1" onclick="afficher(form1);">Login</button></div>
		<div id="signin"><button id="btn1" onclick="afficher(form2);">Sign in</button></div>

		<div id="modal-log">
			<form id="formlog" method="post" action="/login">
				<span class="close" onclick="fermer(form1);">&times;</span>
				<p>
				<div id="userlabel">Username :</div>
				<input type="username" name="username" id="username" placeholder="Username" required>
				<div id="passlabel">Password :</div>
				<input type="password" name="password" id="password" placeholder="Password" required>
				</p>
				<button>Submit</button>
			</form>
		</div>

		<div id="modal-sign">
			<form id="formsign" method="post" action="/signin">
				<span class="close" onclick="fermer(form2);">&times;</span>
				<p>
				<div id="userlabel">Username :</div>
				<input type="username" name="usernamesign" id="usernamesign" placeholder="Username" required>
				<div id="passlabel">Password :</div>
				<input type="password" name="passwordsign" id="passwordsign" placeholder="Password" required>
				<div id="passlabelagain">Password again :</div>
				<input type="password" name="passwordagain" id="passwordagain" placeholder="Again" required>
				<div id="err-pass" style="color: rgb(255, 0, 0); display: none;">Password error</div>
				</p>
				<button>Submit</button>
			</form>
		</div>


		<script type="text/javascript">
    		function afficher(form) {
    			if(form.style.display == "none") {
    				form.style.display = "block";
    			}
    			else {
    				form.style.display = "none";
    			}
    		}
    		
    		function fermer(form) {
    			form.style.display = "none";
    		}

    		window.onclick = function(event) {
    			if(event.target == form1) {
    				form1.style.display = "none";
    			}
    			if(event.target == form2) {
    				form2.style.display = "none";
    			}
    		};

    		var form1 = document.getElementById("modal-log");
    		var form2 = document.getElementById("modal-sign");

    		form1.style.display = "none";
    		form2.style.display = "none";

    		//Verif pass identiques
    		setInterval(function() {
				var p1 = document.getElementById("passwordsign");
    			var p2 = document.getElementById("passwordagain");

    			var epass = document.getElementById("err-pass");

	    		if(p2.value != "" && p1.value != p2.value) {
	    			epass.style.display = "";
	    		}
	    		else {
	    			epass.style.display = "none";
	    		}
    		}, 1000);

    	</script>

    </body>
</html>