body {
	background-color:  #000000;
	color: #FFFFFF;
	font-family: Gill Sans MT, Arial;
	font-size: 1.8vw;
}

h1 {
	text-align : center;
	height: 20%;
	margin-bottom: 2%;
	margin-top: 2%;
}

.divInstru {
	overflow:  visible;
	float : left;
	width: 33.333%;
}

#instru1 .touche, #instru1 h1 {
    filter: sepia() saturate(10000%) hue-rotate(0deg)
}

#instru1 .main {
	filter: sepia() saturate(10000%) hue-rotate(-60deg)
}

#instru2 .touche, #instru2 h1 {
    filter: sepia() saturate(10000%) hue-rotate(120deg)
}

#instru2 .main {
	filter: sepia() saturate(10000%) hue-rotate(60deg)
}

#instru3 .touche, #instru3 h1 {
    filter: sepia() saturate(10000%) hue-rotate(240deg)
}

#instru3 .main {
	filter: sepia() saturate(10000%) hue-rotate(180deg)
}

.touche {
	float : left;
	height: 15.6%;
	width: 15.6%;
	margin-left: 0.5%;
	margin-right: 0.5%;
}

.lineP {
	float: left;
	width: 100%;
	height: 16%;
	margin-bottom: -4%;
}

.lineI {
	float: left;
	width: 100%;
	height: 16%;
	margin-left: 8.3%;
	margin-bottom: -4%;
}

#instru2 .lineI {
	margin-left: -8.3%;
	width: 116.6%;
}

#instru2 .lineI .touche {
	float : left;
	height: 15.6%;
	width: 13.365%;
	margin-left: 0.4288%;
	margin-right: 0.4288%;
}

.label {
	position: absolute;
	margin: 1.5% 0 0 -3.4%;
}